/* -- RESET -- */
*, *::before, *::after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/* -- LAYOUT -- */
body {
    font-family: 'Karla', sans-serif;
    color: #293264;
    background-color: #1C1C1C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 600px;
    min-height: 550px;
    margin: 10px;
    border-radius: 10px;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 600px) {
    main {
        margin: 20px;
        border-radius: 20px;
        min-width: 550px;
    }
}

button {
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* WELCOME PAGE */
.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-page h1 {
    margin: 0;
}

.welcome-page p {
    margin: 5px 0 30px;
    font-family: 'Inter', sans-serif;
}

.start-quiz-btn {
    font-size: 1rem;
    padding: 15px 50px;
    border-radius: 15px;
    margin-top: 30px;
}

.welcome-page--label {
    margin: 0;
    font-weight: 600;
    font-size: 0.9rem;
    color: #4D5B9E;
}

.welcome-page--select {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 100%;
    text-align: center;
}

@media (min-width: 600px) {
    .welcome-page--label {
        font-size: 1.1rem;
    }
    .welcome-page--select {
        font-size: 1rem;
    }
    .start-quiz-btn { 
        font-size: 1.25rem;
    }
}

/* QUIZ PAGE */
.question {
    border-bottom: 1px solid #DBDEF0;
}

.question-header {
    font-size: 1rem; /* 16px */
    font-weight: 600;
    margin: 10px 0;
}

.question-answers-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.radio-button-label {
    display: inline-block;
    font-size: 0.64rem; /* 10.24px */
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid #293264;
    border-radius: 10px;
    background-color: #F5F7FB;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.radio-button-input {
    display: none; /* Hide the actual radio input */
}
  
.radio-button-input:checked + .radio-button-label {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}

.form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

@media (min-width: 600px) {
    .form-btn-container {
        gap: 20px;
        flex-direction: row;
    } 
}

.check-answers-btn,
.play-again-btn {
    font-size: 0.75rem;
    padding: 10px 30px;
    border-radius: 15px; 
}

.result-paragraph {
    font-weight: bold;
}