/* -- RESET -- */
*, *::before, *::after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/* -- LAYOUT -- */
body {
    font-family: 'Karla', sans-serif;
    color: #293264;
    background-color: #1C1C1C;
    margin: 0;
    padding: 0;
}

main {
    max-width: 550px;
    height: 550px;
    border-radius: 20px;
    margin: calc((100vh - 550px) / 2) auto;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-page h1 {
    margin: 0;
}

.welcome-page p {
    margin: 5px 0 30px;
    font-family: 'Inter', sans-serif;
}

.start-quiz-btn {
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    padding: 15px 50px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.start-quiz-btn:focus {
    outline: none;
}

.start-quiz-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}